.todo{
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    padding: .2rem .5rem;
    border-radius: 5px;

    input[type="checkbox"]{
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    p{
        line-height: 60px;
        font-size: 1.4rem;
    }

    .icon-action{
        display: flex;
        gap: .5rem;


        .trash{
            color:red;
            font-size: 30px;
            cursor: pointer;
        }

        .edit{
            color: rgb(14, 110, 195);
            font-size: 30px;
            cursor: pointer;
        }
    }


}